.clearfix,.group,.result,.clear{*zoom:1}
.clearfix:before,.group:before,.result:before,.clear:before,.clearfix:after,.group:after,.result:after,.clear:after{display:table;content:"";line-height:0}
.clearfix:after,.group:after,.result:after,.clear:after{clear:both}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.input-block-level{display:block;width:100%;min-height:32px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8,.g9,.g10,.g11,.g12,.g80,.g160,.g240,.g320,.g400,.g480,.g560,.g640,.g720,.g800,.g880,.g960,.g80m20,.g160m20,.g240m20,.g320m20,.g400m20,.g480m20,.g560m20,.g640m20,.g720m20,.g800m20,.g880m20,.g960m20{float:left;margin-left:10px}
.g80,.g1{width:70px}
.g160,.g2{width:150px}
.g240,.g3{width:230px}
.g320,.g4{width:310px}
.g400,.g5{width:390px}
.g480,.g6{width:470px}
.g560,.g7{width:550px}
.g640,.g8{width:630px}
.g720,.g9{width:710px}
.g800,.g10{width:790px}
.g880,.g11{width:870px}
.g960,.g12{width:950px}
.g80m20{width:50px}
.g160m20{width:130px}
.g240m20{width:210px}
.g320m20{width:290px}
.g400m20{width:370px}
.g480m20{width:450px}
.g560m20{width:530px}
.g640m20{width:610px}
.g720m20{width:690px}
.g800m20{width:770px}
.g880m20{width:850px}
.g960m20{width:930px}
.contents{margin:0 auto;width:950px}
.vcard{overflow:hidden}
.breadcrumb,.share-page{margin:0}
.page-utility{margin-bottom:10px}
.page-utility-printonly,.page-utility-printonly .share-page{margin-bottom:0}
.share-page{float:right;padding-right:0}
.share-page li{float:right;margin-left:12px;list-style-type:none}
.share-page .icon{background-image:url(sharedstatic/img/sprites-icons-share-20px.png);background-repeat:no-repeat;display:inline-block;padding:0;height:20px;width:20px}
.share-page .icon span{text-indent:-9999px;display:block}
.share-page .linkthis-icon{background-position:-40px 0}
.share-page .share-icon{background-position:-60px 0}
.share-page .email-icon{background-position:0 0}
.share-page .print-icon{background-position:-20px 0}
.share-page .linkthis-icon:hover{background-position:-40px -20px}
.share-page .share-icon:hover{background-position:-60px -20px}
.share-page .email-icon:hover{background-position:0 -20px}
.share-page .print-icon:hover{background-position:-20px -20px}
.button.icon{padding-left:7px}
.button.left{float:left}
.button.right{float:right}
#countrySelectDialog{background:#fff url(sharedstatic/img/countryselect-bg.png) left bottom no-repeat;padding:0;height:auto}
#countrySelectDialog .modal-body{padding:20px 20px 10px 170px;max-height:none}
#countrySelectDialog h1{margin-bottom:0}
#countrySelectDialog fieldset{width:100%;margin:0 auto}
#countrySelectDialog fieldset *{vertical-align:middle}
#countrySelectDialog select{border:1px solid #797979;width:256px;padding:0;margin:0}
#countrySelectDialog .countryMessage{font-weight:bold;font-size:16px;line-height:20px;padding-top:10px;margin-bottom:10px}
#countrySelectDialog ul{list-style-type:none;margin-bottom:10px}
#countrySelectDialog .cookieMessage{padding-top:20px;padding-bottom:20px}
#countrySelectDialog .cookieMessage a{color:#333;font-weight:bold;text-decoration:underline}
#countrySelectDialog .cookieMessage a:hover{font-weight:bold;text-decoration:none}
#countrySelectGoButton{margin-left:10px;margin-right:5px}
#b2bMasterDialog{padding:20px 20px 20px 20px}
#b2bMasterDialog .countryMessage{font-weight:bold;font-size:16px;line-height:20px;padding-top:10px;margin-bottom:10px;margin:-5px 0 0 0;font-size:14px}
#b2bMasterDialog br{display:none}
#b2bMasterDialog fieldset{width:100%;margin:0 auto;text-align:center}
#b2bMasterDialog fieldset *{vertical-align:middle}
.content{border-bottom:1px solid #d8d8d8;padding-top:10px}
.block{background-color:#fff}
.block.shaded{background:#d6e6f6}
.block h1{padding:10px 10px 0 10px}
.block-header{border-bottom:3px solid #d8d8d8;padding-bottom:5px;margin-bottom:10px}
.block-header .header{font-size:22px;margin-bottom:0;border-bottom:0}
.block-header .progress-title{float:left}
.block-header .progress-marker{float:right}
.toggle-bar,.toggle-button{font-size:14px;margin-bottom:2px}
.toggle-bar{background:#eee url(sharedstatic/img/arrow-showhide.gif) no-repeat 10px 15px;border:0;cursor:pointer;display:block;padding:10px 10px 10px 26px;font-weight:bold;color:#007ed5}
.toggle-bar:hover{background-image:url(sharedstatic/img/arrow-showhide-over.gif);color:#005189;background-color:#f8f8f8}
.toggle-bar.opened{background-position:10px -27px;color:#007ed5;background-color:#d6e6f6}
.toggle-bar.opened:hover{color:#005189}
.toggle-button{display:inline-block;display:-moz-inline-box;width:auto}
* html .toggle-button{display:inline;width:auto}
*+html .toggle-button{display:inline;width:auto}
.toggle-button span{background:url(sharedstatic/img/arrow-showhide.gif) no-repeat 100% 9px;padding:0;padding-right:20px}
.toggle-button.opened span{background-position:100% -36px}
.toggle-panel{display:none;padding:10px 10px 10px 10px}
.secondary-nav .toggle-panel{padding-left:0;padding-right:0}
ul.inline-options{margin-left:0}
.inline-options li{float:left;list-style-type:none;margin-right:8px}
.referral a{font-weight:bold}
mark{background-color:#ffffad}
.doc-icon,.pdf-icon,.txt-icon,.xls-icon,.link-word,.link-excel,.link-pdf,.pdf,.txt,.xls,.pdf-empty,.txt-empty,.xls-empty{background-image:url(sharedstatic/img/sprites-icons-document-types-16px.png);background-repeat:no-repeat;display:inline-block;padding-left:20px}
.xls-icon,.link-excel,.xls,.xls-empty{background-position:0 0}
.pdf-icon,.link-pdf,.pdf,.pdf-empty{background-position:0 -116px}
.doc-icon,.link-word{background-position:0 -232px}
.txt-icon,.txt,.txt-empty{background-position:0 -348px}
.link-web,.icon.outbound{background:url(sharedstatic/img/icon-outboundlink.gif) 100% 2px no-repeat;display:inline-block;padding-left:0;padding-right:16px}
.document-list .icon.outbound,.link-web{background-position:1px 3px;padding-right:0;padding-left:20px}
ol .icon.outbound{background-position:top right;display:inline}
#main .document-list li,#right .document-list li{display:list-item}
.document-list{margin-left:0}
.document-list>li{list-style-type:none}
.cta-link,.link-cta a{font-weight:bold}
.cta-link:after,.link-cta a:after{content:"\203A";padding-left:4px}
.icon-doc,.icon-pdf,.icon-txt,.icon-xls{background-image:url(sharedstatic/img/sprites-icons-document-types-16px.png)}
.icon-doc,.icon-pdf,.icon-txt,.icon-xls{margin-top:0;line-height:16px;height:16px}
.icon-doc{background-position:0 -232px}
.icon-pdf{background-position:0 -116px}
.icon-txt{background-position:0 -348px}
.icon-xls{background-position:0 0}
.icon-outbound{background-image:url(sharedstatic/img/icon-outboundlink.gif);background-position:0 0}
.figcaption{color:#888;font-size:12px}
.img-border{border:1px solid #d8d8d8}
.img-left{float:left;margin-right:10px;margin-bottom:10px}
.img-right{float:right;margin-left:10px;margin-bottom:10px}
.figure.img-right img,.figure.img-right img{float:none;margin:0}
.enlarge-image{position:relative}
.enlarge-image span{background:url(sharedstatic/img/enlarge-icon.gif);display:none;height:22px;position:absolute;bottom:10px;left:28%;text-indent:-9999px;width:77px;z-index:2}
.enlarge-image:hover span{display:block}
.toggle-view{background:url(sharedstatic/img/sprites-icons-functional-16px.png) no-repeat;display:inline-block;padding:2px 0 2px 20px;margin-bottom:20px}
.toggle-view.toggle-visible{background-position:0 -65px}
.toggle-view.toggle-hidden{background-position:0 -132px}
.productList,.selection-guide-table{border:1px solid #d8d8d8;margin-bottom:20px}
.table-column-dividers th,.table-column-dividers td{border-right:1px solid #d8d8d8}
.table-column-dividers th:last-of-type,.table-column-dividers td:last-of-type{border-right:0}
table.productList{width:100%}
.productList th{text-align:left}
.productList th,.selection-guide-table th{background:#f8f8f8;padding:8px;vertical-align:bottom}
.productList td,.selection-guide-table td{border-top:1px solid #d8d8d8;padding:8px}
.valign-middle td{vertical-align:middle}
.halign-center th,.halign-center td{text-align:center}
.productList tbody tr:nth-of-type(odd) td{background:#f8f8f8}
.productList .commerce-button{float:right}
.productList input{margin-bottom:0}
.query5-table .productList{border:0;border-top:1px solid #d8d8d8;padding-bottom:10px}
.query5-table .productList th{border-top:2px solid #fff;border-bottom:3px solid #d8d8d8}
.selection-guide-table{border-collapse:separate;border-spacing:5px 5px}
.selection-guide-table th{background:#eaf1f7}
.selection-guide-table td{border:0}
.selection-guide-table td ul{margin-left:16px}
.selection-guide-table tfoot td{border-top:1px dashed #d8d8d8}
.workflow-content td{padding-right:10px}
.workflow-image img{border:1px solid #aaa}
.workflow-aside{float:left;padding:10px;width:180px}
.workflow-aside dl{margin-bottom:5px}
.workflow-aside dd{margin-bottom:3px}
#email-modal{display:none;padding:35px 15px 0 15px}
#email-form h4{font-size:14px;background:#f8f8f8;padding:1%;padding-left:15px}
#email-form h5{padding-top:2%}
#email-form h5 span{font-weight:normal;color:#333}
#email-form input{width:77%;height:20px}
#email-form textarea{width:77%;height:80px}
#email-form .email-buttons{clear:both}
.scroll-pane{height:200px;width:350px;overflow:auto}
form.sendEmailForm .msg{color:red;margin:0;display:none}
form.sendEmailForm .text-field{margin-bottom:0}
.b2b-msg-wrapper{background:#fff;padding:10px 0;display:none;margin-bottom:20px}
.b2b-message{margin-bottom:10px}
.help-icon,.dollarsign-icon{background:url(sharedstatic/img/symbol_question.png) top left no-repeat;display:inline-block;height:17px;text-indent:-9999px;width:17px}
.footer-help-icon{background:url(sharedstatic/img/icon-help-footer.gif) top left no-repeat;display:inline-block;height:17px;text-indent:-9999px;width:17px}
.dollarsign-icon{background:url(sharedstatic/img/symbol_money.png) top left no-repeat}
#pageError ul{list-style-type:none;list-style-image:none}
.OneLinkTxShow{display:none}
.OneLinkShow{display:none}
#_atssh{display:none!important}
.master-user-popover-close-button{float:right;color:#d8d8d8;font-size:12px;line-height:12px;background:0;cursor:pointer}
.master-user-popover-close-button:hover{color:#c00;cursor:pointer}
label .required{color:#c00}
input.placeholder{color:#888}
.nav .search{padding:14px 0 0 10px}
.search form{width:295px!important}
.search form.active{width:580px!important;margin-left:-60%}
.search form{border:1px solid #ddd;float:right;margin:0;padding:0;position:relative;width:100%;background:#fff;height:36px}
.search ul{margin:0}
.search form input,.search form button{font-size:14px;margin-bottom:0;box-shadow:none}
.search form input{background:transparent;text-transform:none;letter-spacing:1px;border:1px solid #fff;padding:0 8px;height:34px;line-height:34px;margin:0;outline:0;color:#727272}
.search form button,.search form button:hover,.search form button:active{background:0;border:0;float:right;height:36px;margin:0;text-align:center;padding:0;width:40px;filter:none;outline:0!important}
.search form button span{background:url("sharedstatic/img/icons-utility.png") no-repeat 0 -251px;display:block;height:18px;margin:auto;text-indent:-9999px;width:17px}
.ac_results{box-shadow:0 1px 2px rgba(0,0,0,0.1);background:#fff;border:1px solid #d8d8d8;padding:10px;z-index:1;right:50px!important;top:34px!important}
.ac_results li{color:#555;cursor:pointer;padding:2px 5px}
.ac_results li:hover,.ac_results .ac_over{background:#f8f8f8;color:#007ed5;cursor:pointer;text-decoration:none}
.ac_results li.ac_skip,.ac_results li.ac_skip:hover{background:#fff;border-bottom:1px solid #d8d8d8;color:#1a2155;cursor:text;display:block;font-weight:bold;padding:0 5px 5px 5px;margin-bottom:5px;text-decoration:none}
.ac_results li.ac_skip em{font-style:normal}
#header-typeahead{top:36px;left:-1px;z-index:500;overflow:hidden;width:663px;background:#fff;border:1px solid #d8d8d8;position:absolute!important;box-shadow:0 2px 2px rgba(0,0,0,0.1);display:none}
#header-typeahead a{cursor:pointer}
#header-typeahead div.typeahead-terms{float:left;width:200px;position:relative;z-index:508;overflow:hidden;font-size:12px}
#header-typeahead div.typeahead-flyout{float:left;width:442px;height:300px;background:#f8f8f8;border-left:1px solid #d8d8d8;padding:10px;position:relative;left:-1px;z-index:501;overflow:hidden}
#header-typeahead ul{list-style:none}
#header-typeahead ul.typeahead-term-list a.typeahead-term{display:block;padding:3px 10px;border-top:1px solid transparent;border-bottom:1px solid transparent;border-right:1px solid transparent;text-decoration:none!important;color:black;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
#header-typeahead ul.typeahead-term-list a.typeahead-term.active{background:#f8f8f8;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-right:1px solid #f8f8f8}
#header-typeahead ul.typeahead-term-list li{line-height:22px}
#header-typeahead ul.typeahead-term-list li:first-child a.typeahead-term.active{border-top-color:#f8f8f8}
#header-typeahead .title-text{color:#1e8ae7}
#header-typeahead .search-suggestions{padding:5px;font-size:12px;cursor:default;text-align:right}
span.typeahead-hr{display:block;border-bottom:1px solid #d8d8d8;margin-top:10px;margin-bottom:10px}
#header-typeahead div.flyout-details li{font-size:12px;line-height:1.4em}
#header-typeahead div.flyout-clear{display:none;clear:both}
#header-typeahead div.flyout-box1,#header-typeahead div.flyout-box2,#header-typeahead div.flyout-box3,#header-typeahead div.flyout-box4{float:left;font-size:14px;width:205px;margin-right:15px}
#header-typeahead div.flyout-box1,#header-typeahead div.flyout-box2{margin-bottom:30px}
#header-typeahead div.flyout-box3,#header-typeahead div.flyout-box4{margin-bottom:10px}
#header-typeahead div.flyout-details h3{margin-bottom:6px;font-weight:700;line-height:16px;font-size:14px}
.flyout-recent-searches,.flyout-typeahead{display:none}
.flyout-recent-searches li{line-height:20px;cursor:text;display:block;text-decoration:none}
.flyout-recent-searches li.term a{color:#1a2155;display:block;padding-left:10px;padding-top:3px;padding-bottom:3px}
.flyout-recent-searches li.term a.active{background:#ebf1f9;color:#1a2155;text-decoration:none}
.recent-searches{background:#fff;border-bottom:1px dashed #d8d8d8;padding-bottom:5px;margin:7px 10px 5px 10px;font-weight:bold}
.recent-searches em{font-style:normal}
.searchAutoCompleteProviderSelector{width:160px;height:38px;position:absolute;left:-1px;top:-1px;border:1px solid #d8d8d8;background-color:#fff;border-radius:0}
.search form #suggest1{width:236px;outline:0;position:relative;z-index:1}
.search form.active #suggest1{width:521px}
#header-typeahead-input-container{position:relative;left:0;overflow:hidden;right:35px}
#header-typeahead-suggested{display:none;color:#CCC;position:absolute;top:0;right:1px;left:0;bottom:1px;background:transparent;z-index:0;width:100%}
#header-typeahead-suggested.active{display:block}
.search form.providers-enabled #suggest1,.search form.providers-enabled #header-typeahead-suggested{width:75px}
.search form.providers-enabled #header-typeahead-input-container{left:160px;width:100px}
.search form.providers-enabled.active #suggest1,.search form.providers-enabled.active #header-typeahead-suggested{width:360px}
.search form.providers-enabled.active #header-typeahead-input-container{width:385px}
.searchAutoCompleteProviderSelectorIE78{padding-top:4px;padding-bottom:3px;width:180px;height:30px;position:absolute;left:4px;top:4px;border:1px solid #d8d8d8;background-color:#fff}
.search form.active .msie78Search{margin-left:135px;width:335px!important}
.msie78Search{width:50px!important}
#recently-viewed-dropdown .dropdown-toggle{position:relative;display:inline-block;line-height:16px;font-size:11px;float:right;z-index:201;margin-top:2px;color:#000}
#recently-viewed-dropdown .dropdown-toggle:hover{color:#000}
#recently-viewed-container{display:none;width:950px;background:#fff;border:1px solid #ccc;box-shadow:0 2px 2px rgba(0,0,0,0.1);z-index:200;position:absolute;left:50%;margin-left:-362px;margin-top:18px;padding-top:30px;padding-bottom:45px}
#recently-viewed-container.active{display:block}
#recently-viewed-container .carousel-nav{border:1px solid #ccc;padding:10px 15px;background:#FFF;margin:60px 5px 5px 5px;color:#333}
#recently-viewed-container .carousel-nav:hover{border-color:#1e8ae7;color:#1e8ae7}
#recently-viewed-container .carousel-prev{float:left;border-top-left-radius:4px;border-bottom-left-radius:4px}
#recently-viewed-container .carousel-next{float:right;border-top-right-radius:4px;border-bottom-right-radius:4px}
#recently-viewed-container .carousel-pagination{position:absolute;top:0;right:0;margin-top:10px;margin-right:10px;font-size:15px}
#recently-viewed-container .carousel-items{width:auto;margin:0 55px}
#recently-viewed-container .carousel-items.no-paginate{margin:0 20px}
#recently-viewed-container .item-image{height:150px;overflow:hidden;line-height:150px;text-align:center}
#recently-viewed-container .item-image img{vertical-align:middle;width:100%}
#recently-viewed-container .carousel-item{width:18%;margin:0 1%;float:left;text-align:left;min-height:200px;position:relative}
#recently-viewed-container .carousel-item .item-meta{position:absolute;text-align:center;color:#333;font-size:11px;z-index:2;width:100%}
#recently-viewed-container .carousel-item .item-meta span{display:block}
#recently-viewed-container .carousel-item .item-meta .item-icon-date{border-radius:100%;background:#ee2d35;width:10px;height:10px;margin:0 auto;display:inline-block;color:#000;font-size:11px;top:-2px;position:relative}
#recently-viewed-container .carousel-item .item-meta .item-icon-delete{display:inline-block;border-radius:100%;background:#CCC;width:20px;height:20px;margin:0 auto;color:#FFF;font-size:14px;text-align:center;line-height:19px;position:relative;top:-5px}
#recently-viewed-container .carousel-item .item-meta .item-delete{display:none}
#recently-viewed-container .carousel-item .item-meta .item-delete span{display:none}
#recently-viewed-container .carousel-item:hover .item-meta .item-date{display:none}
#recently-viewed-container .carousel-item:hover .item-meta .item-delete{display:inline-block}
#recently-viewed-container .carousel-item:hover .item-meta .item-delete:hover span{display:block}
#recently-viewed-container .item-description{height:45px;padding:10px 0;overflow:hidden}
#recently-viewed-container .carousel-timeline{background:#efefef;height:40px;position:absolute;bottom:0;left:0;right:0;z-index:1}
table.rte-table tr td,table.rte-table tr th{border:1px solid #d8d8d8;padding:8px;text-align:left}
table.rte-table tr th{background-color:#fbfbfb;background-image:-moz-linear-gradient(top,#fff,#e8e8e8);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e8e8e8));background-image:-webkit-linear-gradient(top,#fff,#e8e8e8);background-image:-o-linear-gradient(top,#fff,#e8e8e8);background-image:linear-gradient(to bottom,#fff,#e8e8e8);background-repeat:repeat-x;vertical-align:bottom}
table.rte-table-cvc tr th{background-color:#ddd;background-image:none}
table.rte-table th.rte-section-header{font-weight:bold;background:transparent;background-image:none}
table.rte-table th.rte-row-header{font-weight:bold;background:#f8f8f8;background-image:none}
table.rte-table-cvc th.rte-row-header{font-weight:normal}
table.rte-table td.rte-table-stripe-row{background-color:#f8f8f8}
table.rte-table td.rte-highlighted{background-color:#ebf2fa!important}
table.rte-table-striped tr:nth-child(odd){background-color:#f8f8f8}
table.rte-table-hover tbody tr:hover>th,table.rte-table-hover tbody tr:hover>td{background-color:#f3f3f3}
table.rte-table-cvc tr:nth-child(1){background-color:#f8f8f8!important}
table.rte-table-cvc-multi-row-header tr:nth-child(1),table.rte-table-cvc-multi-row-header tr:nth-child(2),table.rte-table-cvc-multi-row-header tr:nth-child(3){background-color:#f8f8f8!important}
table.rte-table-cvc-multi-row-header th.rte-row-header-top{border-bottom:0 solid}
table.rte-table-cvc-multi-row-header th.rte-row-header-middle{border-top:0 solid;border-bottom:0 solid}
table.rte-table-cvc-multi-row-header th.rte-row-header-bottom{border-top:0 solid}
table.rte-table .rte-icon{text-align:center;vertical-align:middle}
table.rte-table .icon-check{background:url(base/img/icon-check.png) no-repeat 0 0;text-indent:-9999px;height:25px;width:25px}
#ivgnModal-overlay,.ivgnModal-overlay{background-color:#000}
#ivgnModal-container,.ivgnModal-container{background:#fff;background:-moz-linear-gradient(top,#fff 0,#eee 50%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(50%,#eee));background:-webkit-linear-gradient(top,#fff 0,#eee 50%);background:-o-linear-gradient(top,#fff 0,#eee 50%);background:-ms-linear-gradient(top,#fff 0,#eee 50%);background:linear-gradient(top,#fff 0,#eee 50%);border:1px solid #666;border-radius:5px;-moz-box-shadow:0 0 8px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 8px rgba(0,0,0,0.5);box-shadow:0 0 8px rgba(0,0,0,0.5);font:13px/1.4 Arial,sans-serif;padding:37px 15px 57px}
#ivgnModal-container .ivgnModal-close,.ivgnModal-container .ivgnModal-close{color:#444;cursor:pointer;position:absolute;right:15px;top:10px}
#ivgnModal-container .ajaxModalLoader,.ivgnModal-container .ajaxModalLoader{text-align:center}
#ivgnModal-container .ajaxModalLoader span,.ivgnModal-container .ajaxModalLoader span{font-weight:bold}
#ivgnModal-data,.ivgnModal-data{height:100%;width:100%}
#ivgnModal-noPanel-overlay{background-color:transparent}
#ivgnModal-noPanel-container{-moz-box-shadow:none;-o-box-shadow:none;-webkit-box-shadow:none;background:#898989;box-shadow:none;padding:10px}
#ivgnModal-noPanel-container .ivgnModal-close{right:25px;top:20px}
#ivgnModal-noPanel-container .ivgnModal-wrap{background-color:#fff;border:1px solid #000}
.ivgnModal-close b{font-weight:bold;padding-left:3px}
.modal.ivgnModal-data{top:auto;left:auto;background:0;padding:5px;margin:0;border:0;border-radius:none;-webkit-border-radius:none;-moz-border-radius:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none}
.ivgnModal-data textarea{width:93%;max-width:93%;height:150px;line-height:150%}
.ivgnModal-data input{width:auto}
.price-group .price:first-child{margin-top:0}
.price{word-break:break-word;white-space:normal;display:block;line-height:16px;margin-top:10px}
.price .price-amount{word-break:normal;white-space:nowrap}
.price .price-currency{text-transform:uppercase}
.price .price-message{display:block;color:#888;font-style:italic}
.price-panda-called .price-list .price-amount,.price-panda-called .price-list .price-currency{text-decoration:line-through;color:#888}
.price-panda-called .price-list.price-empty .price-amount,.price-panda-called .price-list.price-empty .price-currency{text-decoration:none;color:#000}
.price-web .price-amount{font-weight:bold}
.price-web .price-amount,.price-your .price-amount{text-decoration:none;color:#7fba00}
.price-web-called .price-list .price-amount,.price-web-called .price-your .price-amount{text-decoration:line-through;color:#888}
.price-web-called .price-list.price-empty{display:none}
.price-masked .price-amount{color:#000;font-weight:normal}
.price-learn-where-to-buy .price-message{color:#ee3134}
.footer-section{clear:both;padding:40px;background:#f3f3f3;border-bottom:1px solid #d8d8d8}
.footer-block ul,.footer-block li{margin:0;padding:0;list-style:none}
.footer-block input,.footer-block select,.footer-block button{margin:0}
.our-products{padding:20px 40px;display:none}
.our-products.active{display:block}
.our-products ul{height:60px;line-height:60px;width:950px;overflow:hidden;text-align:center}
.our-products li{display:inline-block;height:60px;line-height:60px}
.our-products li a{display:inline-block;height:60px;text-indent:-1000px;overflow:hidden;background-repeat:no-repeat}
.our-products li.product-nav-1 a{width:180px;background-position:-10px -25px}
.our-products li.product-nav-1 a:hover{background-position:-10px -133px}
.our-products li.product-nav-2 a{width:190px;background-position:-190px -25px}
.our-products li.product-nav-2 a:hover{background-position:-190px -133px}
.our-products li.product-nav-3 a{width:190px;background-position:-380px -25px}
.our-products li.product-nav-3 a:hover{background-position:-380px -133px}
.our-products li.product-nav-4 a{width:190px;background-position:-570px -25px}
.our-products li.product-nav-4 a:hover{background-position:-570px -133px}
.our-products li.product-nav-5 a{width:200px;background-position:-760px -25px}
.our-products li.product-nav-5 a:hover{background-position:-760px -133px}
.our-products ul.our-products-list-2-items li{margin:0 80px}
.our-products ul.our-products-list-3-items li{margin:0 40px}
.our-products ul.our-products-list-4-items li{margin:0 20px}
.our-products ul.our-products-list-5-items{text-align:left}
.our-products ul.our-products-list-5-items li{float:left;margin:0}
#hfFooterGroupContents .contents>div{float:left;width:25%}
#hfFooterGroupContents .contents>div li{margin:15px 0;line-height:16px}
#hfFooterGroupContents .contents>div form{margin:0;padding:0}
#hfFooterGroupContents .contents>div.footer-texts-bottom{float:none;width:auto;clear:both}
#hfFooterGroupContents a:link{color:#333}
#hfFooterGroupContents a:visited{color:#333}
#hfFooterGroupContents a:hover{color:#27245f}
#hfFooterGroupTexts{padding:10px}
#hfFooterGroupTexts .footer-location{padding-bottom:10px}
#hfFooterGroupTexts .contentinfo{text-align:center}
#hfFooterGroupTexts .contentinfo ul{margin:0;padding:0}
#hfFooterGroupTexts .contentinfo li{padding:0;margin:0 10px;display:inline}
#hfFooterGroupTexts .contentinfo a:link{color:#333}
#hfFooterGroupTexts .contentinfo a:visited{color:#333}
#hfFooterGroupTexts .contentinfo a:hover{color:#27245f}
.footer-header{font-weight:bold;color:#333;margin:10px 0}
#redeemQuoteErrorMessage{display:none;color:#ee3134;margin-top:5px}
#redeemQuoteInput{width:140px;background:#FFF;border:1px solid #d8d8d8;padding:5px;line-height:22px;height:22px}
#redeemQuoteGoButton{padding:5px 10px;line-height:22px;height:34px;vertical-align:top}
#redeemQuoteInput.error{color:#ee3134;border-color:#ee3134}
.enter-quote{margin:5px 0 20px 0}
.enter-quote-closed{display:none}
#changeLanguageSelect,#changeLanguageButton{height:33px;line-height:16px}
body{padding-top:71px}
.print-logo{display:none}
.commerceutilitybar{height:40px;border-bottom:1px solid #c8c8c8;position:fixed;top:0;left:0;width:100%;margin:0;padding:15px 0;background:#FFF;float:right;z-index:80}
.commerceutilitybar ul,.commerceutilitybar li{margin:0;list-style:none;list-style-type:none;padding:0}
.commerceutilitybar .user-utility-item>a{color:#333}
.commerceutilitybar .user-utility-item>a:hover{color:#ee2d35}
.commerceutilitybar .icon{display:inline-block;height:15px;width:15px;vertical-align:middle;background:url("sharedstatic/img/icons-utility.png")}
.commerceutilitybar .icon.cart-icon{background-position:0 -45px}
.commerceutilitybar .icon.contact-icon{background-position:0 -288px}
.commerceutilitybar .icon.caret-icon{background-position:0 -176px}
.commerceutilitybar .user-utility{line-height:inherit;float:right;font-size:0}
.commerceutilitybar .user-utility>li{display:inline-block;font-size:13px;margin-right:5px;line-height:16px}
.commerceutilitybar .minicart-toggle,.commerceutilitybar .myaccount-toggle,.commerceutilitybar .scms-toggle{position:relative}
.commerceutilitybar .minicart,.commerceutilitybar .myaccount-menu,.commerceutilitybar .scms-menu{box-shadow:0 1px 2px rgba(0,0,0,0.1);background:#fff;border-top:0;display:none;font-weight:normal;position:absolute;right:0;text-shadow:none;text-transform:none;z-index:55;padding:0;margin:-1px 0 0 0}
.commerceutilitybar .myaccount-menu,.commerceutilitybar .scms-menu{width:400px;border:1px solid #ccc;padding-bottom:5px;padding-top:5px;width:210px;right:auto!important;left:0!important}
.commerceutilitybar .myaccount-menu li,.commerceutilitybar .scms-menu li{padding:3px 10px;line-height:16px;margin:5px 0}
.commerceutilitybar .myaccount-menu li hr,.commerceutilitybar .scms-menu li hr{margin:0;padding:0}
.commerceutilitybar #hfRegisterLi{padding-bottom:10px;border-bottom:1px solid #ccc}
.commerceutilitybar #hfRegisterLink{width:auto;display:block}
.commerceutilitybar #location-flag{margin-right:2px;padding-right:10px;border-right:1px solid #ccc}
.commerceutilitybar #hfBarQuickOrder{margin-right:0}
.commerceutilitybar #hfBarQuickOrder>a{display:inline-block;padding:10px;margin-right:0;border:1px solid #ccc;background:#FFF;color:#ee2d35;margin-left:10px}
.commerceutilitybar #hfBarQuickOrder>a:hover{border-color:#000}
.commerceutilitybar .myaccount-toggle>a{display:inline-block;border:1px solid transparent;padding:10px;position:relative;z-index:60}
.commerceutilitybar .myaccount-toggle.active>a,.commerceutilitybar .myaccount-toggle>a:hover{border-color:#ccc;border-bottom-color:#FFF}
.commerceutilitybar .minicart{right:0;top:38px!important;border-top:4px solid #555759}
.commerceutilitybar #miniCartButton{margin-right:0;height:100%}
.commerceutilitybar #miniCartButton>a{display:block;padding:10px 5px;margin-right:0;border:1px solid #ee2d35;background:#ee2d35;color:#FFF;text-align:center;min-width:40px}
.commerceutilitybar #miniCartButton>a:hover,.commerceutilitybar #miniCartButton.active>a{background:#555759;border-color:#555759}
body.has-messaging-bar{padding-top:111px}
body.has-messaging-bar .commerceutilitybar{padding-top:55px}
#messagingBar{background:#FFF;color:#666;position:fixed;top:0;left:0;width:100%;line-height:40px;height:40px;font-size:16px;text-align:left;z-index:80;border-bottom:1px solid #ccc}
#messagingBar .contents{width:950px}
#messagingBar .messaging-bar-snippet,#messagingBar .messaging-bar-seperator{margin:0 10px 0 0}
#messagingBar a{color:#666;text-decoration:none}
#messagingBar a:hover{color:#000}
#messagingBar img{max-height:30px;vertical-align:middle}
#messagingBar span{font-size:16px}
#messagingBar #hfPartnerLogo{display:inline}
#messagingBar #messagingBarClose{display:none;float:right;color:#CCC;font-size:16px}
#messagingBar #messagingBarClose:hover{color:#FFF}
#messagingBar.messaging-bar-promos{color:#FFF;background:#27245f;text-align:center;font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Roboto","Segoe UI","Arial","sans-serif"}
#messagingBar.messaging-bar-promos a{color:#CCC}
#messagingBar.messaging-bar-promos a:hover{color:#FFF}
#messagingBar.messaging-bar-promos #messagingBarClose{display:block}
#messagingBar .messaging-bar-button{padding:5px 15px;border:1px solid #CCC;font-weight:bold;font-size:14px;margin-left:10px;font-family:"Helvetica Neue","Helvetica","Roboto","Segoe UI","Arial","sans-serif";color:#CCC}
#messagingBar .messaging-bar-button:hover{color:#FFF;border-color:#FFF}
#messagingBar .messaging-bar-promo-icon{display:inline-block;width:20px;height:20px;background:no-repeat center center url("sharedstatic/img/icon-promo-white.png");vertical-align:middle}
.banner.group .middlecontent{position:fixed;z-index:80;margin-top:-70px;line-height:18px}
.banner.group .logo,.banner.group .search{float:left}
.banner.group .logo img{height:40px;margin:15px 15px 15px 0}
.banner.group .nav{margin:0;list-style:none}
.banner.group .siteheader{background:#f3f3f3}
body.not-wide{min-width:990px}
body.not-wide .commerceutilitybar,body.not-wide #messagingBar{position:absolute;top:0;left:0;width:auto}
body.not-wide .banner.group .middlecontent{position:relative;float:left}
body.chromeless{padding:0 50px 0 20px}
#hfScmsShipToLab{background:url(sharedstatic/img/sprites-icons-utilitybar-21px.png) no-repeat 0 -493px;padding-left:20px}
.meganav{position:relative;width:950px;height:55px;z-index:1;text-align:center;list-style:none;margin:0 auto;padding:0}
.meganav ul,.meganav li{list-style:none;list-style-type:none;margin:0;padding:0}
.meganav>li{color:#333;line-height:55px;height:55px;display:inline-block}
.meganav>li>a{font-size:15px;display:inline-block;line-height:53px;height:53px;padding:0 15px;margin:0 2px;color:#333;background:#f3f3f3;border:1px solid #f3f3f3;border-top:0;font-weight:400}
.meganav>li:hover>a,.meganav>li.active>a{color:#ee2d35;background:#fff;border-color:#ccc;border-bottom-color:#FFF;border-top:0;position:relative;z-index:201}
.meganav>li.nav-0-col:hover>a,.meganav>li.nav-0-col.active>a{border-bottom-color:#ccc}
.meganav>li>ul>li{color:#333}
.meganav>li>ul>li{color:#333}
.meganav>li>ul{background:#fff;display:none;position:absolute;left:-1px;margin-top:-2px;width:950px;border:1px solid #ccc;box-shadow:0 2px 2px rgba(0,0,0,0.1);z-index:200}
.meganav>li.active>ul{display:block}
.meganav>li>ul>li{float:left;padding:2%;width:21%;text-align:left;font-weight:normal;line-height:18px}
.meganav>li>ul>li>ul>li{margin-bottom:6px;line-height:17px}
.meganav>li>ul>li>a>b,.meganav>li>ul>li>b{margin-bottom:8px;display:block}
.meganav>li>ul>li>b{color:#333}
.meganav p{margin-bottom:20px}
.meganav>li.nav-1-col>ul>li{width:96%}
.meganav>li.nav-1-col>ul{width:auto;left:auto;max-width:250px;min-width:160px;padding:10px;margin-left:2px}
.meganav>li.nav-2-col>ul>li{width:46%}
.meganav>li.nav-3-col>ul>li{width:28%}
.meganav>li.nav-4-col>ul>li{width:21%}
.meganav>li.nav-5-col>ul>li{width:16%}
.meganav li.divider{float:none;clear:both;list-style-type:none;background:#d8d8d8;height:1px;margin:12px 0;padding:0;width:100%}
.minimal .control-label{font-weight:normal}
.minimal .content{width:auto}
body.thin .commerceutilitybar .contents,body.thin .nav .contents{max-width:760px;margin:0 auto}
body.hide-meganav .meganav{display:none!important}
body.hide-global-search .nav .middlecontent .search{display:none!important}
body.reduced .meganav,body.reduced .nav .middlecontent .search,body.reduced .nav .middlecontent .global-promo,body.reduced #miniCartButton,body.reduced #hfBarQuickOrder,body.reduced #hfRegisterLi,body.reduced #hfGreetAnonymous,body.reduced #hfGreetByName{display:none!important}
body.reduced .user-utility-item{border-right:0}
body.reduced .commerceutilitybar #location-flag{border-right:0}
body.minimal .commerceutilitybar{position:relative!important;padding:0}
body.minimal .logo{margin:20px 0 20px 20px}
body.minimal .commerceutilitybar{border:0}
body.minimal .commerceutilitybar .user-utility{display:none}
body.minimal .banner.group .middlecontent{position:relative;top:0;left:0}
body.minimal .meganav,body.minimal .commerceutilitybar,body.minimal .search,body.minimal .global-promo{display:none!important}
body.minimal .content{border-top:1px solid #d8d8d8;padding-top:20px;margin:0 auto;width:970px}
body.minimal .container-wrap{padding:0;background:#FFF}
.minimal .our-products,.minimal #hfFooterGroupContents{display:none}
.minimal .footer{padding-top:20px}
.minimal .footer .footer-location{display:block;width:auto;margin:0;padding:0}
.minimal .footer .footer-location .select-language{margin-bottom:5px}
@media print{body{background:0;color:black!important;font-size:11px;margin:0;width:970px!important;padding-top:10px!important}
a,a *{color:#036ac8;text-decoration:none;font-weight:bold}
a img{border:0}
a[href]:after{content:none!important}
img{max-width:100%;max-height:100%;display:block}
h1,.pageheader,.button{color:black;margin-left:0;font-weight:bold;float:none}
#kampylink,.notification-bar,.search,.utility,.page-utility,.secondary,.sidebar,.main-nav,.meganav,.support-search,.results-sort,.results-footer,.pagination,.stepbar,.quickorder .tabs-menu,.our-products,#hfFooterGroupContents,.footer-location,.contentinfo-legal{display:none!important;width:0!important;height:0!important}
.g720,.g9,.span9,.g800,.g10,.span10,.g880,.g11,.span11,.g960,.g12,.span12,.g720m20,.g800m20,.g880m20,.g960m20{float:none!important}
.main,.contents{margin:0!important;padding:0!important;border:0!important;float:none!important;width:100%!important}
.hidden-print{display:none!important}
.commerceutilitybar,#messagingBar{display:none!important}
.banner.group .middlecontent{position:relative;margin:0 0 0 10px}
}